//widths
// $containerWidth: rem(1215);
$mobileEnd: 600px;
$midEnd: 1500px;
$tabletEnd: 770px;

//times
$shortTime: 0.3s;
$mediumTime: 0.8s;
$longTime: 1.2s;

//Colors
$fs-base: 16px;
$gray: #f2f0f0;
$gray-100: #e1e1e6;
$gray-300: #c4c4cc;
$gray-400: #8d8d99;
$gray-600: #323238;
$gray-700: #29292e;
$gray-900: #121214;
$white: #fff;
$green-300: #00b37e;
$green-500: #00875f;
$red-400: #c53f05;
$red-500: #f75a68;
$blue-400: #4e59d7;
$blue-500: #3f4ef7